<div>
    <h2>Categorias</h2>

    <form (ngSubmit)="agregarCategoria()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nuevaCategoria.nombre" required>
        <button type="submit">Agregar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>obs</th>
                <th>Creación</th>
                <TH>Acciones</TH>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of categorias">
                <td>{{categoria.id}}</td>
                <td>{{categoria.cat_nom}}</td>
                <td>{{categoria.cat_obs}}</td>
                <td>{{categoria.created_at}}</td>
                <td>
                    <button (click)="editarCategoria(categoria.id)">Editar</button>
                    <button (click)="eliminarCategoria(categoria.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

